#welcome {
background-color: #ffcce6;
}

#explain{
margin-top:100px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400px;
}
.listExplore{
margin-top:25px;
}

/******MUSEE****/

#louvre, #mamvp , #hisNat{
	display:block;
	margin-left: auto;
    margin: auto;
	width:500px;
	height: 400px;
	}
#museelouvre,#museeAMVP,#museeHisNat {
	background-color: #ffcce6;
	}

.camDetail, .star,.reviewP {
margin-top:30px;

}

