.add {
    margin-left: 20px;
}

.addName {
    margin-left: 15px;
    margin-top: 10px;
}
.addCity {
    margin-left: 25px;
    margin-top: 10px;
}

.butAdd,.butSubmit {
    
    margin-left: 58px;
    margin-top: 10px;
    background-color: #004d1a;
    color:#ffffff;
    border-radius: 8px;
}

.butEdit {
    margin-left: 10px;
    background-color: #004d1a;
    color:#ffffff;
    border-radius: 8px;
}

#titlExplore {
    font-size: 25px;
    margin-left: 20px;
}
.aList {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#009900;
    margin-left: 10px;
}

a:hover{
    
    color:#ff1a1a;
    text-decoration: none;
    }

#listmuseums {
    margin-top: 25px;
}

