.add {
   
    padding-left: 5px;
    margin-left: 20px;
    border-style: groove;
    border-radius: 8px;
    width: 350px;
    height: 315px;
    border-color: #009900; 
}

.addName {
    margin-left: 25px;
    margin-top: 10px;
}
.addType {
    margin-top: 10px;
    margin-left: 32px;
}
.addCity {
    margin-left: 40px;
    margin-top: 10px;
}
.addName {
    margin-left: 25px;
    margin-top: 10px;
}

.addAddress {
    margin-top: 10px;
    margin-left: 10px;
}

.addOpenHours {
    margin-top: 10px;
    margin-left: 25px;
}

.addTarif{
    margin-top: 10px;
    margin-left: 32px;
}
.butAdd,.butSubmit {
    
    margin-left: 58px;
    margin-top: 10px;
    background-color: #004d1a;
    color:#ffffff;
    border-radius: 8px;
}

.butEdit {
    margin-left: 10px;
    background-color: #004d1a;
    color:#ffffff;
    border-radius: 8px;
}

#titlExplore {
    font-size: 25px;
    margin-left: 20px;
    margin-top:60px;
    border-style: groove;
    border-radius: 8px;
    width: 350px;
    border-color: #009900;
}
.aList {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#009900;
    margin-left:10px;
}

a:hover{
    
    color:#ff1a1a;
    text-decoration: none;
    }

#listmuseums {
    margin-top: 25px;
}

.pointer{
   cursor: pointer; 
}
