<!--<p class="upload">
  <img class="upload" src="assets/under2.png">
</p> -->

<!--https://academind.com/learn/angular/snippets/angular-image-upload-made-easy/-->

<div class="profilfeed">
<h3 class="profile"> Your personal information
</h3>
<span class="profDetail">username: </span> <span class="profInfo"></span> <br>
<span class="profDetail">First Name: </span> <span class="profInfo"></span> <br>
<span class="profDetail">Last Name: </span> <span class="profInfo"></span> <br>
<span class="profDetail">email: </span> <span class="profInfo"></span> <br>
<span class="profDetail">Address: </span> <span class="profInfo"></span> <br>
<span class="profDetail">Upload photo: </span> <span class="profInfo"></span> <br>
</div>