<div class="details" *ngIf="museum">
    <h3 class="museumName">{{museum.name}}</h3>
    <br>
    <img class="photoM" [src]="'/assets/'+museum.photo">
    <br>
     
  <div class="container">
     <div class="row">
        <div class="col-sm">
          Score
        </div>
        <div class="col-sm">
            Type: {{museum.type}}
            <br>
           Address: {{museum.address}}
            <br>
            City: {{museum.city}}
            <br>
           Open Hours: {{museum.openHours}}
            <br>
            Tarif: {{museum.tarif}} (euros)
        </div>
        <div class="col-sm">
        Review
        </div>
    </div>
  </div>
</div>