.museumName{
    font-size: 30px;
    text-align: center;
    margin-top: 20px; 
}
.details{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #004d00;
}

.photoM{
    display:block;
    margin-left: 75px !important;
    margin-top: 40px;
    margin-right: 50px !important;
	width:500px;
    height: 400px;
    cursor: cell;
}
.locationM{
    cursor: help;
    font-style: italic;
}
